@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .glow {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.40);
  }

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  background-color: #000000;
  color: white;
}

.blur-circle-1 {
  background: rgba(255, 255, 255, 0.52);
  filter: blur(139px);
  position: absolute;
  width: 634px;
  height: 222px;
  left: -107px;
  top: -36px;
  z-index: -60;
}


.blur-circle-2 {
  position: absolute;
  width: 634px;
  height: 634px;
  left: -480px;
  top: -195px;
  background: rgba(228, 48, 48, 0.52);
  filter: blur(139px);
  z-index: -60;
}

.blur-circle-3 {
  position: absolute;
  width: 594px;
  height: 634px;
  left: 1600px;
  top: 679px;
  background: rgba(27, 197, 234, 0.52);
  filter: blur(139px);
  z-index: -60;
}

